body {
    background-color: rgba(237, 237, 237, 1);
}

.main-container {
    height: 100vh;
}

.content-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100% - 80px); // 80px: NavBar
}