.job-listings {
    width: 100%;
    height: calc(100% - 60px); // 30px: padding-top + 30px: padding-bottom
    padding: 30px 0;
    display: flex;
    transition: flex-direction 0.3s ease;

    .filter-container {
        width: 30%;
        transition: width 0.3s ease;
    }

    .listings-container {
        width: 70%;
        height: 100%;
        overflow-y: auto;
        transition: width 0.3s ease;
    }
}

.filter-section {
    padding: 16px;

    .MuiAccordion-root::before {
        background: none;
    }

    .accordion-filter-category {
        border-bottom: 1px solid #bbb;
        padding: 8px;
        font-size: 16px;
        cursor: pointer;
        background: none;
        box-shadow: none;

        &:hover {
            font-weight: bold;
        }

        &:last-of-type {
            border-bottom: none;
        }

        &.Mui-expanded {
            margin: 0;
        }
    }

    .radio-btn-filters {
        color: #00c853;

        &.Mui-checked {
            color: #00c853;
        }
    }

    .icon-expand {
        color: #00c853;
    }

    .btn-filter-reset {
        margin-top: 16px;
        color: red;
        border: 1px solid red;
        font-weight: bold;

        &:hover {
            background-color: red;
            opacity: 0.5;
            color: white;
        }
    }

    .btn-show-filters {
        margin-bottom: 16px;
        font-weight: bold;
        color: #00c853;

        &:hover {
            background-color: rgba(0, 200, 83, 0.1);
        }

        &.responsive-only {
            display: none;
        }
    }

    .filter-content {
        display: block;
    }

    @media (max-width: 1024px) {
        .btn-show-filters.responsive-only {
            display: flex;
        }

        .filter-content {
            display: none;
            &.show {
                display: block;
            }
        }
    }
}

.job-card {
    cursor: pointer;
    border-radius: 2px;

    &:hover {
        background-color: #f0f4f8;
    }
}

.btn-load-more {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;
    
    .MuiSvgIcon-root {
        margin-left: 8px;
    }
}

@media (max-width: 1024px) {
    .job-listings {
        flex-direction: column;

        .filter-container,
        .listings-container {
            width: 100%;
        }

        .listings-container {
            height: auto;
            overflow-y: unset;
            padding-bottom: 30px;
        }
    }
    .btn-show-filters.responsive-only {
      display: flex;
  }

  .filter-content {
      display: none;
      &.show {
          display: block;
      }
  }
    .btn-show-filters.mobile-only {
        display: flex;
        color: #00c853;
        &:hover {
            background-color: #00c85333;
        }
    }

    .filter-content {
        display: none;
        &.show {
            display: block;
        }
    }
}