.navbar {
  background-color: rgb(34, 34, 34) !important;
  box-shadow: none !important;
  height: 80px;

  &-toolbar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    align-items: center;
    box-sizing: border-box;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__logo-container {
    margin-right: 20px;
  }

  &-expanded-drawer {
    background-color: rgb(34, 34, 34) !important;
  }

  .navbarLinks {
    display: flex;
    align-items: center;

    div {
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }

    .navbarLink {
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      padding: 8px 0;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &-links {
    display: flex;
  }

  &-user-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  &-mobile-container {
    width: 100%;
  }

  &-mobile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(34, 34, 34);
  }

  &-mobile-actions {
    display: flex;
    align-items: center;
  }

  &-notification-icon,
  &-close-icon,
  &-menu-icon {
    color: white;
  }
}

.navbar-expanded {
  &-toolbar {
    justify-content: flex-end;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &-user-info {
    display: flex;
    align-items: center;
  }

  &-menu {
    background-color: rgb(34, 34, 34);
    padding: 20px;

    &-container {
      max-width: 600px;
      margin: 0 auto;
      width: 100%;
      padding: 0 30px;
    }

    &-links {
      max-width: 600px;
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: #FFFFFF;
      font-size: 18px;
      font-weight: bold;
    }

    &-link {
      text-decoration: none;
      color: inherit;
      font-weight: bold;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.navbar-welcome-text {
  margin-right: 8px;
}

.navbar-logout-button {
  background-color: #32C3A3;
  color: black;
  border-radius: 50px;
  padding: 2px 6px;
  font-size: 11px;
}

.navbar-user-avatar {
  margin-left: 40px;
  width: 50px;
  height: 50px;
}
